.header{
    margin: 40px 0;
    text-align: center;
    h4{
        font-size: 12px;
        color: 
        rgba(0, 0, 0, 0.2);
        font-weight: 600;
    }
    h2{
        color: #404044;
    }
}