#shef{
    .content{
        margin: 200px 0;
        line-height: 1.5;
        h3{
            font-size: 
            16px;
            color: #E1E1E1;
        }
        h4{
            color: #404044;
font-size: 28px;
word-spacing: 1px;
letter-spacing: 1px;
margin-bottom: 40px;
        }
        p{
            color: var(--second--color);
        }
    }
}